#prep
my_name = "kenobi"
my_num1 = 42 
my_num2 = "42"
my_calc = 42 * 42

# Introduction to Python for Social Science

## What is python and why use it?

Python is a general purpose programming language. It has in recent years gained a lot of popularity as a tool for data science and statistics.
It has a number of advantages:

1. General purpose language - add what you need
2. Portable (Linux, Windows, Mac)
3. Interactive
4. Free
5. Large community and eco-system

## Installing Anaconda
* Go to (https://www.anaconda.com/download)
* Install a version 3.x
* Open Jupyter notebook
  * Windows: search for jupyter
  * Mac and linux: $ <anaconda_root_dir>/jupyter notebook

## Content of the python introduction

- Working with python
- The Jupyter Notebook environment
- Working with variables
- Expanding python functionality by importing modules
- Working with tables in python (`pandas` module)
- Exporting data

### Working with Python
* Workflows - many - find your own!
* In this course - Jupyter notebook and pandas:
  * Python + Jupyter notebook + pandas = A complete environment
  * Interactive
  * Encourage an iterative work process (research?)
  * Documentation, code and visualization in one - literate programming
  * Reproducing results

## Class room rules
* Discuss with your neighbour
* Help each other
* Try everything out yourself (write along as we go)
* Stickers: Put a sticker up on your laptop if you need help

# Using Jupyter Notebook

Jupyter Notebook is a web-based interactive computational environment for creating notebooks for codes.

It is originally developed for python but can be used for other code as well (for example R).

Jupyter Notebook works in a cell-structure. Each notebook is comprised of cells. The cells can be either code cells or markdown cells (or raw cells)

- Code cells: Contains python code
- Markdown cells: Write text

Run cells by highlighting it and pressing `Shift + Enter`.

## Adding documentation
* Comment on a line using `#` (code following will not be interpreted)
* Doc-strings for longer comments using `"""`

In [2]:
2 + 2 # wow!

4

In [3]:
"""What I'm about to do here
is really cool!"""

2 - 2

0

# Python basics

Working with python means working entirely almost entirely with codes written in the python language. 
Python works by writing lines of code (commands) and having python interpret that code (running commands or cells).

## Python as a calculator
So what does it mean that python interprets our code?
It means that you tell python to do something by writing a command and python will do that (if python can understand you).

Python, for example, understands mathematical expressions:

In [4]:
2 + 5

7

In [5]:
0.37 * 256

94.72

## Working with variables, functions and methods

Working with python means working with variables. 

Variables in python can store all kinds of values and information: text, numbers, datasets, graphs. 

Using a function or calling a method can then transform the variable or create something from it: calculating a statistical model, saving a file, creating a graph and so on.

Data analysis in python can mostly be boiled down to 3 basic steps:

1. Assign values to a variable: `data = pd.read_csv('employees.csv')`
2. Make sure python interprets the variable correctly (its type): `data['Compensation'].dtypes()`
3. Perfom some operation or manipulation on the variable using a function or calling a method: `data['Compensation'].mean()`

## Variables

A lot of writing in python is about defining variables: A name to use to call up stored data.

Variables can be a lot of things: 
- a word
- a number
- a series of numbers
- a dataset 
- a URL
- a formula
- a result 
- a filepath
- and so on...

When a variable is defined, it is available in the current working space (or environment).

This makes it possible to store and work with a variety of informaiton simultaneously.

### Defining variables

Variables are defined using `=`

In [6]:
a = 2 + 5

In [7]:
print(a)

7

In [8]:
b = 'jedi'

In [9]:
print(b)

jedi

Using `' '` or `" "` denotes that the code should be read as text.

### Naming variables
Variables can be named almost anything but a good rule of thumb is to use names that are indicative of what the variable contains.

#### Restrictions for naming variables
- Most special characters not allowed: `/`, `?`, `*`, `+`, `.` and so on (most characters mean something in python and will be read as an expression)
- Already existing names in python (will overwrite the function/variable in the environment)

#### Good naming conventions 
- Using '`_`': `my_variable`, `room_number`

or:

- Capitalize each word except the first: `myVariable`, `roomNumber`

# EXERCISE 1: DEFINING VARIABLES

1. Define the following variables:

    - `my_num1`: `42` (without quotation marks)
    - `my_num2`: `"42"` (with quotation marks)
    - `my_calc`: `42 * 42`
    - `my_name`: `"kenobi"`

2. Divide each variable by 2

## Bonus exercise
- Try multiplying each variable by 2

# EXERCISE 1: DEFINING VARIABLES
*What happens?*

In [10]:
my_num1 / 2

21.0

In [11]:
my_num2 / 2

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [12]:
my_calc / 2

882.0

In [13]:
my_name / 2

TypeError: unsupported operand type(s) for /: 'str' and 'int'

# Different types of variables
Why did we get errors in the previous exercise?

Because python distinguishes between different types of variables!

A variable is stored as a *type*. The type denotes what kind of variable it is and affects what operations are possible.

## Numeric and character types
As you work with python, you will encounter a lot of different types. For now we will be focusing on two of the more common ones:
- Numeric types (like integers or floats)
- Character types (like strings)

Numbers are automatically stored as a numeric type (like a float, integer etc.).

When using `''` or `""` around the information to be stored in the variable, python will interpret that as text. Variables containing text are refered to as *strings*.

*Numbers enclosed in `''` or `""` are therefore stored as strings, as python interprets it as text!*

Python has to be told that something is text as Python would otherwise interpret it as an existing variable.

In [14]:
my_name2 = vader

NameError: name 'vader' is not defined

Note that python can interpret multiplying and adding text:

In [15]:
2 * my_name

'kenobikenobi'

In [16]:
2 * my_num2

'4242'

In [17]:
'obi-wan ' + my_name

'obi-wan kenobi'

## Casting types

The type of a variable can be examined with `type(variable)`.

Variables can be coerced with specific functions:

- Coerce to character type:`str(variable)`
- Coerce to numeric type: `int(variable)` or `float(variable)`

Python will always try to "guess" the type. If python guesses wrong, you can tell python what type it should be (if possible).

In [18]:
a_number = '56'
print(type(a_number))

<class 'str'>

In [19]:
a_number = int(a_number)
print(type(a_number))

<class 'int'>

### Integers and floats

Wholenumbers will by default be interpreted as integers. Any number with a decimal will be interpreted as a float.

Dividing will always convert the variable to a float.

In [20]:
a_number = 36
b_number = 12
print(type(a_number), type(b_number))

<class 'int'> <class 'int'>

In [21]:
c_number = a_number / b_number
print(c_number, type(c_number))

3.0 <class 'float'>

# EXERCISE 2: TYPES

1. Create the variable `my_product` containing the product of your 2 my_num variables: `my_num1 * my_num2`
2. Does `my_product` contain the number you would expect? 
3. Change the type of `my_num2` to an integer (use `int()` and overwrite `my_num2`)
4. Try creating the variable `my_product` again
5. Check if `my_product` is equal to `my_calc` using `==`. Assign it to the variable `my_test`
6. Check the type of `my_test`. What type is it?

In [22]:
my_num1 * my_num2

'424242424242424242424242424242424242424242424242424242424242424242424242424242424242'

In [23]:
my_num2 = int(my_num2)
my_product = my_num1 * my_num2
my_product

1764

In [24]:
my_test = my_product == my_calc
my_test

True

In [25]:
type(my_test)

bool

# The boolean type
*Boolean* variables are variables containing the value `True` or `False`.

When using the following operators (among others), python will interpret it as a boolean:
- `>`
- `>=`
- `<`
- `<=`
- `==`
- `!=`

Booleans can be used in functions, loops and if-statements to ensure that a certain condition is met before something is run.

# Importing modules
Base python has very limited functionality. You will always have to import various modules in order to perform your analysis.

A module is a collection of functions, variables and methods that can be loaded into your python environment.

Once loaded, the contents of the module is usable in the python environment.

It is possible to either import whole modules or parts of a module.

In [26]:
c = sqrt(a**2 + b**2)
print(c)

NameError: name 'sqrt' is not defined

In [27]:
import math #whole module/package

# Or...

from math import sqrt #specific function/method

In [28]:
c = sqrt(my_num1**2 + my_num2**2)
print(c)

59.39696961966999

# Lists
So far we have looked at python variables containing single values: a number, a word or a boolean.

Python has different ways of storing a series of elements (values, variables, etc.). One of the more common is the *list*.

A list is a grouping of elements. They are created by enclosing the values in `[]`:

In [29]:
my_list = [1, 9, 7, 3]
print(my_list)

[1, 9, 7, 3]

Note that lists can contain variables of different types.

In [30]:
my_list2 = [my_name, 3, 42.0, my_test]
print(my_list2)

['kenobi', 3, 42.0, True]

## Adding to lists

Elements can be added to the list with the method `append`.

*Note that using this method changes the contents of the list*

In [31]:
my_list.append(22)
print(my_list)

[1, 9, 7, 3, 22]

## Indexes

Each element in the list is assigned an index running from 0 to the number of elements - 1. We can use the index to refer to specific elements with `[]`:

In [32]:
my_list2[0]

'kenobi'

Single elements in a list can be changed by refering to their index:

In [33]:
my_list2[0] = 'vader'
print(my_list2)

['vader', 3, 42.0, True]

## Tuples

*Tuples* are immutable lists meaning their values can't be changed.

They are created by enclosing elements in `()`:

In [34]:
t = (1.0, 4.0)
t, type(t)

((1.0, 4.0), tuple)

In [35]:
t[1]

4.0

In [36]:
t[1] = 2

TypeError: 'tuple' object does not support item assignment

# Working with table data: Pandas

*Pandas* is a module that allows you to create dataframes in python: A spreadsheet-like data structure for data with rows and columns.

The pandas modules contain a lot of instruments and methods for data handling and processing.

A `DataFrame` is a type. An important subtype is a `series`: A one-dimensional datastructure with an index (like a type-specific list or a variable, as it is understood in statistics).

In [37]:
import pandas as pd

# Pandas Series
* One dimensional data
* Data is labeled with a index
* Series consist of pairs (index, data)

In [38]:
a = pd.Series([4, 2, 7, 8, 4, 4])
print(a)

0    4
1    2
2    7
3    8
4    4
5    4
dtype: int64

In [39]:
print(a*2 + 4)

0    12
1     8
2    18
3    20
4    12
5    12
dtype: int64

A wide range of operations can be performed on series (like variables in any other statistics software).

In [40]:
print(a.unique())

[4 2 7 8]

In [41]:
print(a.isin([2, 4]))

0     True
1     True
2    False
3    False
4     True
5     True
dtype: bool

# EXERCISE 3: Lists and Series
1. Create a list containing the numbers: 5, 13, 26, 42, 101
2. Try multiplying the list by 4 - What happens?
3. Create a panda series containing the same numbers (Note: you can create a panda series from a list)
4. Try multiplying the panda series by 4 - What happens?
5. Check if the number 20 is in your series using the `.isin()` method. (*NOTE:* `isin()` requires a list as input).

In [42]:
my_list = [5, 13, 26, 42, 101] #Creating the list
my_list * 4 #Multiplying by 4

[5,
 13,
 26,
 42,
 101,
 5,
 13,
 26,
 42,
 101,
 5,
 13,
 26,
 42,
 101,
 5,
 13,
 26,
 42,
 101]

In [43]:
my_series = pd.Series(my_list) #Converting to series
my_series * 4 #Multiplying by 4

0     20
1     52
2    104
3    168
4    404
dtype: int64

In [46]:
my_series.isin([13]) #Does the series contain the number 13

0    False
1     True
2    False
3    False
4    False
dtype: bool

# Pandas DataFrames
* Two dimensional data (rows and columns)
* Data is labelled with an index and a column name

With the pandas module, various files can be imported directly as dataframes (also from the web).

We are working with a subset of the danish section of the 2014 European Social Survey: http://www.europeansocialsurvey.org/

In [66]:
import pandas as pd

ess = pd.read_csv('https://github.com/CALDISS-AAU/workshop_python-intro/raw/master/data/ESS2014DK_subset.csv')
#ess = pd.read_csv('./data/ESS2014DK_subset.csv')

*Load the Iris dataset into your own environment now*

## Inspecting DataFrames

Use the method `.head()` to inspect the first 5 rows of the data.

In [68]:
ess.head()

,idno,ppltrst,happy,cgtsday,alcfreq,height,weight,gndr,yrbrn
0,921018,6,9,10.0,2-3 times a month,178.0,64.0,Male,1990.0
1,921026,8,8,NaN,Several times a week,172.0,64.0,Female,1948.0
2,921034,8,8,NaN,Every day,176.0,87.0,Male,1957.0
3,921076,8,8,NaN,Several times a week,162.0,70.0,Female,1958.0
4,921084,5,8,NaN,Every day,175.0,80.0,Male,1936.0

Inspect column names with method .columns

In [69]:
list(ess.columns)

['idno',
 'ppltrst',
 'happy',
 'cgtsday',
 'alcfreq',
 'height',
 'weight',
 'gndr',
 'yrbrn']

See key summary statistics using `.descibe()`. (n, mean, std, min, max, quartiles).

In [70]:
ess.describe()

                idno     cgtsday       height       weight        yrbrn
count    1502.000000  330.000000  1497.000000  1473.000000  1502.000000
mean   935551.059254   12.000000   173.752171    75.855261  1965.891478
std      8588.682562    9.237495     9.625371    15.599516    18.946140
min    921018.000000    0.000000   142.000000    38.000000  1914.000000
25%    928066.500000    5.000000   167.000000    65.000000  1951.000000
50%    935772.000000   10.000000   173.000000    74.000000  1966.000000
75%    942859.500000   20.000000   180.000000    85.000000  1981.000000
max    950516.000000  102.000000   204.000000   137.000000  1999.000000

## Slicing rows and selecting columns

Selecting rows is refered to as *slicing*. Rows can be selected by their index using `[]`. It excludes the last index.

Columns can be selected the same way by refering to the column name.

In [71]:
ess[0:1] # First row

,idno,ppltrst,happy,cgtsday,alcfreq,height,weight,gndr,yrbrn
0,921018,6,9,10.0,2-3 times a month,178.0,64.0,Male,1990.0

In [73]:
ess['alcfreq'] # Selecting alcfreq column.

0          2-3 times a month
1       Several times a week
2                  Every day
3       Several times a week
4                  Every day
                ...
1497    Several times a week
1498       2-3 times a month
1499             Once a week
1500             Once a week
1501       2-3 times a month
Name: alcfreq, Length: 1502, dtype: object

The method `.loc[]` is used for subsetting the data. First rows, then columns. Columns have to be specified by their name.

Several columns can be selected by refering to a list of column names.

Unlike the "standard" indexing/slicing, using `.loc[]` includes the last index.

*NOTE*: `.loc[]` is also used for recoding specific values.

In [74]:
ess.loc[2:4, 'alcfreq'] # Returns as a series

2               Every day
3    Several times a week
4               Every day
Name: alcfreq, dtype: object

In [76]:
ess.loc[2:4, ['alcfreq', 'yrbrn']] # Returns as a dataframe

                alcfreq   yrbrn
2             Every day  1957.0
3  Several times a week  1958.0
4             Every day  1936.0

In [77]:
ess[2:4][['alcfreq', 'yrbrn']] # Alternative - excludes last index

                alcfreq   yrbrn
2             Every day  1957.0
3  Several times a week  1958.0

## Operations on dataframes
Operations can be performed on DataFrame series much like on lists.

Operations on DataFrames series are not restricted to pandas functions!

In [78]:
(ess['height'] / 100).head() #converting to meters - first 5 rows

0    1.78
1    1.72
2    1.76
3    1.62
4    1.75
Name: height, dtype: float64

In [80]:
ess['height'].mean()

173.75217100868403

The type of a dataframe column (series) can be inspected using the attribute `dtypes`.

In [81]:
ess['height'].dtypes

dtype('float64')

## Creating variables

Variables are created by refering to columns not yet in the dataframe.

In [83]:
ess['height_m'] = ess['height'] / 100

In [85]:
list(ess.columns)

['idno',
 'ppltrst',
 'happy',
 'cgtsday',
 'alcfreq',
 'height',
 'weight',
 'gndr',
 'yrbrn',
 'height_m']

Empty variables/columns are created the same way but by filling them with missing values (NaN).

The `numpy` module allows us to work with the NaN value.

In [86]:
import numpy as np

ess['height_category'] = np.nan
ess.head()

,idno,ppltrst,happy,cgtsday,alcfreq,height,weight,gndr,yrbrn,height_m,height_category
0,921018,6,9,10.0,2-3 times a month,178.0,64.0,Male,1990.0,1.78,NaN
1,921026,8,8,NaN,Several times a week,172.0,64.0,Female,1948.0,1.72,NaN
2,921034,8,8,NaN,Every day,176.0,87.0,Male,1957.0,1.76,NaN
3,921076,8,8,NaN,Several times a week,162.0,70.0,Female,1958.0,1.62,NaN
4,921084,5,8,NaN,Every day,175.0,80.0,Male,1936.0,1.75,NaN

### NaN: "Not a Number"

`NaN` is the python equivalent of missing.

Notice that python does not treat NaN-values as larger or smaller than zero. NaN-values do not have a value. We therefore need to use specific methods to refer to them (like `isnull()`).

In [ ]:
print(
    ess.loc[2, 'height_category'] < 0,
    ess.loc[2, 'height_category'] > 0,
    ess.loc[2, 'height_category'] == 0
)

In [ ]:
ess[2:3]['height_category'].isnull()

## Recoding variables

The standard way of recoding is by using booleans.

In [87]:
mean_height = ess['height'].mean()

In [89]:
ess.loc[(ess['height'] <= mean_height), 'height_category'] = "short"
ess.loc[(ess['height'] > mean_height), 'height_category'] = "tall"
ess.head()

,idno,ppltrst,happy,cgtsday,alcfreq,height,weight,gndr,yrbrn,height_m,height_category
0,921018,6,9,10.0,2-3 times a month,178.0,64.0,Male,1990.0,1.78,tall
1,921026,8,8,NaN,Several times a week,172.0,64.0,Female,1948.0,1.72,short
2,921034,8,8,NaN,Every day,176.0,87.0,Male,1957.0,1.76,tall
3,921076,8,8,NaN,Several times a week,162.0,70.0,Female,1958.0,1.62,short
4,921084,5,8,NaN,Every day,175.0,80.0,Male,1936.0,1.75,tall

# EXERCISE 4: DataFrames

1. Create a new variable/column called `bmi` containing the bmi of the respondents.
    - BMI = kg/m<sup>2</sup> (power of 2 in python is written with `**2`)
2. What is the lowest bmi? Use either `.describe` or `.min`

## Bonus exercise

- Using `.loc` and `.min()`, can you determine how many cigarettes (`cgtsday`) the person with the lowest bmi smokes per day? (think in booleans)

In [100]:
ess['bmi'] = ess['weight'] * (ess['height']/100)**2 #Variable for bmi

ess['bmi'].min() #smallet bmi

91.29500000000002

In [102]:
ess.loc[ess['bmi'] == ess['bmi'].min(), 'cgtsday'] #Determine number of cigarettes per day

962    10.0
Name: cgtsday, dtype: float64

# Writing and reading data
Pandas supports exporting DataFrames as various files, including:

* .csv (comma-separated values)
* .xlsx (excel)
* .dta (Stata)

## Exporting data with pandas

Files are created using the methods `to_csv()`, `to_excel` and `to_stata` respectively.

In [103]:
ess.to_csv('my_ess.csv')
ess.to_stata('my_ess.dta')

## Reading a simple csv file
The method `.read_csv` can be used to read a .csv-file as a dataframe.

Note that unless you specify an index, one will be automatically generated.

In [104]:
ess_new = pd.read_csv('my_ess.csv', index_col=0) 
ess_new.head()

,idno,ppltrst,happy,cgtsday,alcfreq,height,weight,gndr,yrbrn,height_m,height_category,bmi
0,921018,6,9,10.0,2-3 times a month,178.0,64.0,Male,1990.0,1.78,tall,202.7776
1,921026,8,8,NaN,Several times a week,172.0,64.0,Female,1948.0,1.72,short,189.3376
2,921034,8,8,NaN,Every day,176.0,87.0,Male,1957.0,1.76,tall,269.4912
3,921076,8,8,NaN,Several times a week,162.0,70.0,Female,1958.0,1.62,short,183.7080
4,921084,5,8,NaN,Every day,175.0,80.0,Male,1936.0,1.75,tall,245.0000

# EXERCISE 5: WRITE AND READ DATA

1. Save your ess data as a .csv
2. Read your data file as a dataframe - does it look right?